<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a href="/nation" class="navbar-item">
                        Nation
                    </a>

                    <a href="/player" class="navbar-item">
                        Player
                    </a>
                </div>
            </div>
        </nav>
        <div class="columns">
            <div class="column">
                <table class="table">
                    <thead>
                        <tr>
                            <!-- <th>_ID</th> -->
                            <th>Image</th>
                            <th>Name</th>
                            <th>Club</th>
                            <th>Position</th>
                            <th>Goals</th>
                            <th>isCaptain</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% players.forEach(function(player){ %>
                            <tr>
                                <!-- <td>
                                    <%= player._id %>
                                </td> -->
                                <td>
                                    <figure class="image is-64x64">
                                        <img src=<%=player.image %> >
                                    </figure>
                                </td>
                                <td>
                                    <%= player.name %>
                                </td>
                                <td>
                                    <%= player.club %>
                                </td>

                                <td>
                                    <%= player.position %>
                                </td>
                                <td>
                                    <%= player.goals %>
                                </td>
                                <td>
                                    <%= player.isCaptain %>
                                </td>


                                <td>
                                    <div class="buttons are-small">
                                        <a href="player/edit/<%= player._id %>"><button
                                                class="button is-warning is-light">Edit</button></a>
                                        <a href="player/delete/<%= player._id %>"><button
                                                class="button is-danger is-light">Delete</button></a>
                                    </div></a>
                                </td>
                            </tr>
                            <% })%>
                    </tbody>
                </table>
            </div>
            <div class="column">
                <form method="post">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Name</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-info" name="name" type="text" placeholder="e.g. Messi">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Club</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select name="club">
                                            <%for (let club of clubList){ %>
                                                <option value="<%= club.name %>">
                                                    <%= club.name %>
                                                </option>
                                                <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Position</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-info" name="position" type="text" placeholder="e.g. Messi">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Goals</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-info" name="goals" type="text" placeholder="e.g. Messi">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">isCaptain</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-info" name="isCaptain" type="text" placeholder="e.g. Messi">
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Image</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-info" name="image" type="text" placeholder="URL of image">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label"></label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary" type="submit">
                                        Create
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </form>
    </div>

</body>

</html>